# These are the "full" requirements. You might not need them all! See setup.py
# which duplicates this, and has useful subsets.

# may need "brew install hidapi" before this?
hidapi>=0.7.99.post21

# for CLI command option parsing
click>=6.7

# required by link-layer encryption in client.py
ecdsa>=0.13
pyaes
pytest
